.registerPage {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.registerBlock {
	max-width: 450px;
	width: 100%;
}

.registerInputs {
	width: 100%;
}

.inputBlock {
	margin-bottom: 10px;
}

.registerInput {
	padding: 14px 12px;
	width: 100%;
	border-radius: 5px;
	border: none;
	font-size: 18px;
}

.buttonRegister {
	padding: 14px 12px;
	margin-left: 0;
	width: 100%;
	margin-top: 12px;
	color: white;
	background-color: rgb(51, 172, 40);
	font-size: 20px;
	font-weight: 700;
}
.buttonRegister:hover {
	background-color: green;
}

.haveAcc {
	margin-top: 24px;
}

.acc {
	color: white;
	display: flex;
	align-items: center;
	justify-content: end;
	font-size: 24px;
}

.signIn {
	color: rgb(88, 88, 186);
}
