.answer {
	padding: 10px;
	font-size: 18px;
	display: flex;
	align-items: center;
	background-color: rgb(182, 222, 209);
	border-radius: 5px;
	margin: 6px;
	color: black;
	width: 500px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.answer:hover {
	background-color: rgba(46, 205, 152, 0.783);
}
/* .answer:active {
	background-color: rgb(133, 133, 207);
} */

.answerCorrect {
	background-color: rgb(38, 255, 0);
}
.answerCorrect:hover {
	background-color: rgb(37, 224, 4);
}

.answerIncorrect {
	background-color: red;
}
.answerIncorrect:hover {
	background-color: red;
}

.pen {
	padding: 3px;
	font-size: 20px;
	border-radius: 100%;
	background-color: antiquewhite;
	color: black;
}
.pen:hover {
	background-color: rgb(225, 177, 117);
}
